<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chào mừng bạn đến với GiaSuVLU</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
      }
      .email-container {
        max-width: 480px;
        margin: 0 auto;
        background: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        border: 2px solid #28a745;
      }
      .logo {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
      }
      .footer {
        font-size: 12px;
        color: #888;
        margin-top: 20px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <img
        src="https://giasuvlu.click/api/media?mediaCategory=logo&fileName=dc8a5b6b-154e-45a7-a70d-78bc53fcad51.jpeg"
        alt="GiaSuVLU Logo"
        class="logo"
      />
      <h2>Yêu cầu của bạn đã bị từ chối!</h2>
      <p>Xin chào <strong><%= fullname %></strong>,</p>
      <p>Yêu cầu của bạn đã bị từ chối <strong>GiaSuVLU</strong>. Hãy đăng nhập và kiểm tra thông tin ngay!</p>
      <p>Chúc bạn có những trải nghiệm tuyệt vời với GiaSuVLU.</p>
      <p class="footer">Cảm ơn bạn đã tham gia cùng chúng tôi!</p>
    </div>
  </body>
</html>
